///Variables
$body-bg: #0f0f0f;
$main-color: #dbdcee;
$txt-color: #757575;
$cancel-color: #f5f7fb;
$save-color: #5f65f6;
$white: #fff;
$black: #000;

$box-shadow: 0px 11.6189px 124.28px rgba(37, 72, 153, 0.17);
$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 23.24px;
$mobile-width: 320px;
$tablet-width: 768px;

$font-family: "Public Sans", sans-serif;

///Breakpoints
@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

///Mixin

@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.pop_up {
  width: 100%;
  height: 100%;
  z-index: 1000;
  font-family: $font-family;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $main-color;
  color: $txt-color;

  .pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;

    .pop_up_body {
      margin: auto;
      max-width: 30rem;
      height: 37rem;
      background-color: $white;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
      padding: 12px 0px 0px;

      p {
        font-weight: 700;
        font-size: 25px;
        line-height: 32px;
        padding: 33px 32px 0 32px;
        color: $black;
      }

      form {
        padding: 0 32px 0 32px;
        display: flex;
        flex-direction: column;

        ::-webkit-input-placeholder {
          font-family: $font-family;
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
        }
        ::-moz-placeholder {
          color: #c0392b;
        } /* Firefox 19+ */
        :-moz-placeholder {
          color: #c0392b;
        } /* Firefox 18- */
        :-ms-input-placeholder {
          color: #c0392b;
        }
        input:focus {
          outline: none;
        }
        input[type="text"] {
          color: $txt-color;
          font-weight: 500;
          font-size: 18px;
          border: none;
        }

        .input-descr {
          padding-top: 36px;
        }

        .input-counter {
          padding-top: 47px;
          display: flex;
          border-bottom: 1px solid $txt-color;
          justify-content: space-between;

          input {
            margin-bottom: 12px;
          }
        }

        .colorSelector {
          display: flex;
          align-items: center;
          padding-top: 38px;
          padding-bottom: 35px;

          p {
            color: $txt-color;
            font-weight: 500;
            margin: 0;
            font-size: 18px;
            padding: 0 36px 0 0;
          }

          input[type="radio"] {
            display: none;
          }

          .colorOption {
            height: 28px;
            width: 28px;
            border-radius: 50%;
          }

          .buttonContainer {
            display: inline-block;
            margin-right: 10px;

            input:checked ~ .colorOption::before {
              width: 36px;
              height: 36px;
              opacity: 0.4;
              border: 1px solid #9797aa;
              border-radius: 50%;
            }
            input:checked ~ .colorOption::after {
              display: flex;
              align-items: center;
              justify-content: center;
              content: url(../images/icons/arrow.svg);
            }
          }

          .color1 {
            background: #878c93;
          }

          .color2 {
            background: #6153cc;
          }

          .color3 {
            background: #ff715b;
          }

          .color4 {
            background: #151515;
          }
          .color5 {
            background: #ffb627;
          }
        }

        .select {
          padding-bottom: 38px;
          select {
            -moz-appearance: none;
            -ms-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            padding: 10px 20px;
            font-family: $font-family;
            line-height: 20px;
            font-size: 15px;
            background-color: $white;
            color: $txt-color;
            outline: none;
            border: 0.9px solid rgba(86, 103, 137, 0.26);
            border-radius: 7.7px;
            cursor: pointer;
            background-image: url(../images/icons/select.svg);
            background-repeat: no-repeat;
            background-position: 371px 16px;
            box-shadow: $box-shadow;

            option {
              line-height: 20px;
              background-color: $white;
              font-size: 15px;
            }

            &::-ms-expand {
              display: none;
            }
          }
        }

        .date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #9797aa;
          padding-bottom: 35px;

          input[type="date"] {
            border: 0.9px solid rgba(86, 103, 137, 0.26);
            border-radius: 7.7px;
            width: 202px;
            height: 50px;
            font-family: $font-family;
            padding: 0px 15px 0 43px;
            font-size: 15px;
            line-height: 20px;
            font-weight: 500;
            color: $txt-color;
            background-image: url(../images/icons/calendar.svg);
            background-repeat: no-repeat;
            background-position: 13px 12px;
            &::-webkit-calendar-picker-indicator {
              display: none;
            }
          }
        }

        .buttons {
          margin-top: 25px;
          display: flex;
          justify-content: center;
          .button {
            width: 180px;
            height: 56px;
            border-radius: 10.561px;
            border: none;
            font-family: "Work Sans";
            font-weight: 600;
            font-size: 18px;
            line-height: 32px;
          }
          .cancel {
            margin-right: 20px;
            background-color: $cancel-color;
            color: rgba(21, 25, 32, 0.5);
          }
          .save {
            background-color: $save-color;
            color: $white;
          }
        }
      }
    }
  }
}
